<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
</head>
<body>
  <h2 class="ui orange center aligned icon header">
    <i class="circular coffee icon"></i>
  </h2>
  <div class="ui two column grid">
    <div class ="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui vertical pointing menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class ="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Elliot Fu</em>: vinodini added as a friend
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Stevie Feliciano</em>:divya added as a friend
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Helen Troy</em> :sandy added as a friend
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a>Christian Rocha</a> signed up for the  site.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon input">
                <input type="text" placeholder="Enter your Message...">
                <i class="borderd inverted orange edit icon"></i>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
