<!DOCTYPE html>
<html>
  <head>
    <title>Chitchatchinthakai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="ui tiny inverted menu">
       <div class="ui container">
        <%= link_to "Home", root_path, class: "item" %>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Menu <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/login">Login</a>
              <a class="item">Logout</a>
              <a class="item">About</a>
            </div>
          </div>
          <div class="item">
            <div class="ui primary button">Sign Up</div>
          </div>
        </div>
       </div>
      </div>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
